*{
    margin: 0px;
    padding: 0px;
    
}


#top{
    display: flex;
    margin-left: 300px;
    justify-content: space-between;
   background-color: #000000;
   align-items: center;
   color: #ffffff;
   height: 30px;
}

#top>div:nth-child(2){
    display: flex;
    margin-right: 250px;
}
#top>div:nth-child(2)>p{
    margin-right: 30px;
}

#bot{
    display: flex;
 justify-content: space-between;
 padding-left: 100px;
}

#bot>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
    align-items: center;
    margin-left: -150px;
    
}

#bot>div:nth-child(2)>img{
    width: 5%;
    margin-left: 10px;
}

#bot>div:nth-child(2)>input{
    width: 100%;
    height: 40px;
    padding-left: 30px;
}

#bot>div:nth-child(2) p{
    width: 180px;
    margin-right: 65px;
    margin-left: 0px;
   
}

#navbar{
    background-color: #212121 ;
    color: #ffffff;
}

#bot>div:nth-child(1)>img{
    width: 20%;
    margin-bottom: 20px;
}

#modal{
    width: 65%;
    height: 470px;
   
    margin-left: 20%;
    display: flex;
}

#modal_left{
    width: 25%;
    
    padding: 10px;
}

#modal_left>div{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: gray;
    font-weight: 600;
}

#modal_right{
    display: flex;
    justify-content: space-between;
    
   
}

#modal_right>div{
    margin: 10px 10px;
}

#modal_right>div>div{
    margin-bottom: 10px;
    color: gray;
    font-weight: 400;
}

#modal_right>div>.black{
    color: #000000;
    font-weight: 400;
}

#modal_right>div>div:hover{
    cursor: pointer;
    color: red;
}

#modal_right>div>.black:hover{
    color: #000000;
}

#modal{
    display: none;
}

#category:hover{
    color: #000000;
    background-color: #ffffff;
}

#category{
    margin-bottom: 0px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
   
}

#modal_left>div:hover{
    color: #000000;
    cursor: pointer;
}

body{
    background-color: #ececec;
}

#slider{
    width: 100%;
    height: 500px;
    margin-top: 125px;
    
}

#slider>img{
    width: 100%;
}

#modal{
    position: fixed;
    background-color: #ffffff;
    margin-top: -11.5px;
}

#first_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#first_div img{
    width: 80%;
}

#second_div{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#second_div img{
    border: 0.3px solid #ffffff;
    border-radius: 3px;
    margin-right: 10px;
}

#navbar{
    position: fixed;
    margin-top: -125px;
    
}

#third_div{
    width: 80%;
    background-color: #f7e9de;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    height: 100px;
    padding: 10px;
}

#fourth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#fifth_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#fifth_div img:hover{
    cursor: pointer;
    
}

#fifth_div >div:hover{
    width: 26%;
    margin-left: 0.2%;
}

#sixth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#seventh_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#seventh_div img:hover{
    cursor: pointer;
    
}

#seventh_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#eighth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#ninth_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#ninth_div img:hover{
    cursor: pointer;
    
}

#ninth_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#tenth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#eleventh_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#eleventh_div img:hover{
    cursor: pointer;
    
}

#eleventh_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#twelveth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#thirteenth_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#thirteenth_div img:hover{
    cursor: pointer;
    
}

#thirteenth_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#forteenth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#fifteenth_div{
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
}

#fifteenth_div>img{
    width: 100%;
    border-radius: 10px;
}

#fifteenth_div>img:hover{
    cursor: pointer;
}

#sixteenth_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#sixteenth_div img:hover{
    cursor: pointer;
    
}


#sixteenth_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#seventeenth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#eighteenth_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#eighteenth_div img:hover{
    cursor: pointer;
    
}

#eighteenth_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#ninteenth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}


#twentyth_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

#twentyth_div img:hover{
    cursor: pointer;
    
}

#twentyth_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#twentyoneth_div{
    text-align: center;
    align-items: center;
    margin: auto;
    margin: 80px auto;
    font-size: 25px;
    line-height: 45px;
}

#twentytwoth_div{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    margin-bottom: 100px;
}

#twentytwoth_div img:hover{
    cursor: pointer;
    
}

#twentytwoth_div >div:hover{
    width: 26%; 
     margin-left: 0.2%;
}

#twentythree{
    width: 100%;
    height: 120px;
background-color: #f9f9f9;
display: flex;
justify-content: center;
align-items: center;

}

#twentythree>div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

#ftop>div>div>div{
    margin-bottom: 10px;
    color: rgb(85, 83, 83);
}

#ftop>div>div>div:hover{
    cursor: pointer;
}

#ftop>div{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

#ftop_right{
    width: 45%;
}
#ftop_right>div{
    display: flex;
    
}

#ftop_right>div>p{
    margin: 2px 7px;
    font-size: 14px;
}

#ftop_right>div:nth-child(1){
    margin-bottom: 10px;

}

#ftop_right>div>p:hover{
    cursor: pointer;
    color: crimson;
}

#ftop>div>div>div:nth-child(1){
    font-weight: 600;
    margin-bottom: 15px;
    color: #000000;
}



#ftop>div>div>div:nth-child(1):hover{
    cursor: default;
}

#ftop{
    background-color: #ffffff;
    
    padding-top: 60px;
    padding-bottom: 60px;
}

#fmid>div{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
   
}

#fmid>div>div img{
    width: 7%;
    margin: 0px 3px;
}

#fmid>div>div img:hover{
    cursor: pointer;
}

#fmid>div>div{
    width: 30%;
    display: flex;
}

#fmid{
    background-color: #f9f9f9;
   padding-top: 50px;
   padding-bottom: 50px;
}

#fbot>div{
    width: 80%;
    margin: auto;
}

#fbot{
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#fbot h3{
    margin-bottom: 20px;
    font-size: 17px;

}

#fbot p{
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 25px;
}

#sign_in:hover{
    cursor: pointer;
}

#cont_sign_in{
    width: 100%;
    height: 700px;
    margin-top: -2px;
    background-color: #ffffff;
    display: none;
    position: fixed;
    background-color: #242222;
}

#cont_sign_up{
    width: 50%;
    height: 500px;
    margin: auto;
    
    margin-top: 0px;
    background: linear-gradient(135deg, rgb(70, 39, 70) 60%, cyan);
}


#cross{
    color: #212121;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-top: 20px;

}

#cross>img{
    width: 3%;
}
#cross:hover{
    cursor: pointer;
}

#login{
    display: flex;
    justify-content: space-around;
}

#login>div{
    width: 30%;
}

#login input{
    width: 100%;
    margin-top: 30px;
}

